<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>

<div class="container">
    <h1><%=post.h1%></h1>
    <h2> <%=post.h2%></h2>
    <h3><%=post.h3%></h3>
    <h4><%=post.h4%></h4>
</div>

</body>
</html>